.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link {
  color: #6576CC;
  text-decoration: underline;
}

.link:visited {
  color: #BF5E9F;
}

.link:hover {
  color: #71AFE5;
}

.link:active {
  color: #78ECF2;
}

.sidebar {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin: 10px;
}

.grid {
  display: inline-block;
  background-color: black;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  transition: background-color 0.2s;
  border-radius: 10px;
  margin: 10px 0 20px 0;

  --blueCellColor: #007ab8;
  --redCellColor: #c3092e;
  --blueSubgridColor: #00a3f5;
  --redSubgridColor: #f52f57;
  --emptyCell: #414141;
}

.grid.x {
  background-color: #f97791;
  --emptyCell: #f97791;

  --blueSubgridColor: #6e7f87;
  --blueCellColor: #535f65;
}

.grid.o {
  background-color: #47c2ff;
  --emptyCell: #47c2ff;

  --redSubgridColor: #9c888c;
  --redCellColor: #6f5d60;
}
