.grid {
/*  border-collapse: collapse;  */
  border-radius: 10px;
  margin: 3px;
  display: inline-block;
  border-spacing: 10px;
  border-collapse: separate;
}

.grid tbody tr {
  background-color: var(--emptyCell);
  transition: background-color 0.2s;
}

.cell {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
  background-color: inherit;
  font-size: 32px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
}

.highlight {
  background-color: #f6d43c;
}

.x {
  background-color: var(--redSubgridColor);
}

.o {
  background-color: var(--blueSubgridColor);
}

.x.colorblind::before {
  content: "X";
  position: absolute;
  font-size: 136px;
  line-height: 136px;
  text-align: center;
  width: 136px;
}

.o.colorblind::before {
  content: "O";
  position: absolute;
  font-size: 136px;
  line-height: 136px;
  text-align: center;
  width: 136px;
}

.d {
  --redCellColor: #6f5d60;
  --blueCellColor: #535f65;
  background-color: #8d8d8d;
}

.grid.x tbody tr, .grid.o tbody tr {
  background-color: inherit;
}

.grid.x tbody tr .x, .grid.o tbody tr .x {
  color: var(--redCellColor);
}

.grid.x tbody tr .o, .grid.o tbody tr .o {
  color: var(--blueCellColor);
}

.x.cell {
  background-color: var(--redCellColor);
}

.o.cell {
  background-color: var(--blueCellColor);
}
